@{
    ViewBag.Title = "About Capstone Medical";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Capstone Medical prides itself in no-wait visits.  There is no contact free visitation for all!</p>
