@{
    ViewBag.Title = "Capstone Medical";
}

<div class="jumbotron">
    <h1>Capstone Medical</h1>
    <p class="lead">Please login to submit your review of your visit!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Corona Virus Updates</h2>
        <p>
            Getting bored of sitting at home and not attending class?  Read the latest news!
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://www.cdc.gov/media/dpk/diseases-and-conditions/coronavirus/coronavirus-2020.html">News &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Survey</h2>
        <p>Submit a review of your recent visit.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Survey &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>