@{
    ViewBag.Title = "Capstone Medical - QR Code Generator";
}

<html>
<head>
    <title>QR Code Generator</title>

</head>
<body>

    <h3>QR Code: </h3>

    <br />
    <img src="@Url.Action("GenerateRandomQRCodeImage")" alt="qr code" />

</body>
</html>
